h1, h3 { 
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
     font-family: 'Ubuntu', sans-serif; 
}
body {
    background-image: url(img/zerno_01.png);
    
}
header{
    background-image:url(img/bgheader.jpg);
       height: 100vh;
      vertical-align: middle;
    position: relative;
        
    
}
.logo{
 font-family: 'Ubuntu', sans-serif;
    
} 
.number {
    position: absolute;
    left: 10px;
            
           
        }
.hblock{
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: -4px 4px 10px #FFAB00;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3em;
    color: aliceblue;
    max-width: 800px;
    text-align: center;
    position: relative;
    margin:0 auto;
display: inline-block;
  
     
}
.one{
    position: relative;
    padding: 2em;
    font-size: 16px;
    
}
.center{
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100% auto;
}
footer{
    background-color: darkgrey;
    height: 200px;
}
.otstup {
    padding: 10px 0px 20px 0px;
}